
    .header{
        position: fixed;
        top:0;
        left:0;
        right:0;
        height: 40px;
        width: auto;
        border:1px;
        z-index: 1;
        background-color: rgb(235, 235, 235);
    }
    .header_left{
        width: 100px;
        height: 35px;
        border: 2px solid transparent;
        font-size: 14px;
        
    }
    .header_left .box{
        margin:5px;
    }
    .header_left .box:hover{
        width:30px;
        height:30px;
        font-size: 27px;
    }
    .header_right{
        width: 100px;
        height: 35px;
        border: 2px solid transparent;
        font-size: 14px;
        border-radius: 5%;
    }
    .box{
        text-align: center;
        height: 16px;
        width: 16px;
        margin-right: 5px;
        
    }
    .banner{
        float: right;
        position: relative; 
        left: -50%;
    }
    .banner .main{
        position: relative;
        left: 50%;
        text-align: center;
        padding: 0px 0;
        margin:0 -100px;
    }
    .banner .main img{
        height:40px;
    }
    .pic{
       
        
        padding-top: 5px;
    }
    .pic .main{
        position: relative;
        text-align: center;
        padding: 5px 0;
        
    }
    .clear {
    clear: both;
    }
    #night_day{
            height:25px;
            background-color: antiquewhite;
            border-color: antiquewhite;
            font-style: oblique;
            border-radius: 5px;
            margin-top: 3px;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 1%
    }
    .pics {
        float: right;
        position: relative; 
        left: -50%;
       
    }
    .pics .row1{
        position: relative;
        left: 50%;
        width: 730px;
        height: 145px;
        
    }
    
    .pics .row1 .box{
        
        float:right;
        width:138px;
        height: 138px;
        border:1px solid rgb(227, 217, 217);
    }
    .pics .row2{
        position: relative;
        left: 50%;
        width: 730px;
        height: 145px;
        
    }
    
    .pics .row2 .box{
        
        float:right;
        width:138px;
        height: 138px;
        border:1px solid rgb(227, 217, 217);
    }
    .pics .row3{
        position: relative;
        left: 50%;
        width: 730px;
        height: 145px;
        
    }
    
    .pics .row3 .box{
        
        float:right;
        width:138px;
        height: 138px;
        border:1px solid rgb(227, 217, 217);
    }
    .pics .box{
        line-height: 150px;
    }
    .bottom_con .bottom{
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;
        border:1px solid transparent;
        background-color: rgb(254, 244, 232);
        width:auto;
        height:10px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .center{
        float: right;
        position: relative; 
        left: -50%;
    }
    .center .cencon{
        position: relative;
        left: 50%;
    }
    .phobox{
        height:auto;
        width: 700px;
        border: 3px dotted rgb(166, 172, 193);
        margin:5px;
        text-align: center;
        padding:5px 0;
    }
    .photo1{
        width:580px;
        height:auto;
        
    }
    .phobox .text{
        width:660px;
        margin:20px;
    }
    .full{
        display: none;
    }
    .photo2{
        width:auto;
        height: 138px;
    }
    .pics .box:hover{
        background-color: rgba(234, 234, 234, 0.576);
    }
    body{
        background-color: rgb(255, 249, 241);
        margin: 0px;
    }
    .night{
        height:2500px;
    }
    .car1{
        width: 50px;
        height: 17px;
        margin-left:0;
    }
    .car2{
        width: 50px;
        height: auto;
        margin-left:0;
        
    }
    .oo{
        position:fixed;
        top:50px;
        left:0;
        right: 0;
        display: none;
        
    }
    .oo2{
        position:fixed;
        top:50px;
        left:0;
        right: 0;
        display: none;
        
    }
    .oo3{
        position:fixed;
        top:50px;
        left:0;
        right: 0;
        display: none;
        
    }